:root {
    --primary-color: #000325;
    --secondary-color: #0A3981;
    --paragraph-color: #333333;
    --link-color: #ffffff;
    --button-color: #0A3981;
    --danger-color: #e74c3c;
    --alert-color: #f39c12;
    --success-color: #2ecc71;
    --warning-color: #f39c12;
    --black-color: #000000;
    --white-color: #ffffff;
    --background-gray: #f2f2f2;
}

$colors: (
    primary: --primary-color,
    secondary: --secondary-color,
    paragraph: --paragraph-color,
    link: --link-color,
    button: --button-color,
    danger: --danger-color,
    alert: --alert-color,
    success: --success-color,
    warning: --warning-color,
    black: --black-color,
    white: --white-color,
    gray: --background-gray
);