.primary-header {
    position: relative;
    height: 60vh;
    min-height: 500px;
    background-color: var(--primary-color);
}

/* Slider Container */
.slider {
    margin: auto;
    overflow: hidden;
    z-index: 1;
}

/* Slides Wrapper */
.slides {
    display: flex;
    transition: transform 1s ease-in-out;
}

/* Individual Slide */
.slide {
    min-width: 100%;
    box-sizing: border-box;
    position: relative;

    &::after {
        content: "";
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: var(--black-color);
        position: absolute;
        z-index: 1;
        opacity: .2;

    }

    &>p {
        z-index: 2;
        background: #00000063;
        padding: 8px 15px;
        font-size: 14px;
        opacity: 0;
        transition-delay: 0s;
        width: 100%;
        text-align: center;
    }
}

.slide.slider-active>p {
    opacity: 1;
    transition-delay: 1.5s;
}

.site-logo {
    aspect-ratio: 1/1;
    width: clamp(70px, 6.25vw, 120px);
    background-color: var(--white-color);
}

.llisting>a {
    position: relative;
    z-index: 2;
}

.includs-submenu {
    cursor: pointer;

    &:hover {
        img.nav-icon {
            transform: rotate(-180deg);
        }
    }
}

.sub-menu {
    width: max-content;
    cursor: auto;
    z-index: -2;
    visibility: hidden;
    opacity: 0;
    transform: translateY(20px);
    transition-property: opacity, transform, visibility;

    &::after {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: calc(100% - 39px);
        background-color: var(--secondary-color);
        z-index: -1;
        content: "";
        border-radius: 0px 0px 8px 8px;
        box-shadow: 0px 24px 120px 0px #00000030;
    }

    &.active {
        z-index: 1;
        visibility: visible;
        opacity: 1;
        transform: translateY(0px);
    }

    &>li {
        width: 100%;
        display: flex;

        &>a {
            width: 100%;
            display: flex;
            color: var(--white-color);
        }
    }
}

img.nav-icon {
    width: 15px;
    height: 13px;
    object-fit: cover;
    margin-left: 5px;
}

.site-main {
    min-height: 23vh;
}

header .anchor {
    font-size: 18px;
    cursor: pointer;
}

.anchor {
    cursor: pointer;
}

.nav-icon {
    width: 24px;
    height: 24px;
    stroke: var(--white-color);
    cursor: pointer;
}

.form-field,
.submit-button {
    padding: 12px 20px;
    outline: none;
}

.search-form-box {
    backdrop-filter: blur(5px);
    transition: .15s all ease-in-out;
    transform: scale(.65);
    opacity: 0;
    visibility: hidden;

    &::after {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: var(--black-color);
        opacity: .2;
        content: "";
    }

    & input {
        min-width: 15vw;
    }

    &.active {
        visibility: visible;
        opacity: 1;
        transform: scale(1);
    }
}

.no-scrolling {
    overflow: hidden;
}

.dash-nav-icon {
    width: 20px;
    aspect-ratio: 1/1;
    transition: .25s all ease-in-out;

    &.color-white {
        stroke: var(--white-color);
    }
}

.dashboard-top-nav {
    transition: .25s all ease-in-out;

    &:hover {
        color: var(--success-color);

        & .dash-nav-icon {
            &.color-white {
                stroke: var(--success-color);
            }
        }
    }
}

.header-top {
    font-size: 14px;
}

.dash-power {
    width: 20px;
    height: 20px;
    border: 1px solid var(--white-color);
    border-radius: 50px;
    border-bottom-color: transparent;
    cursor: pointer;

    &::after {
        position: absolute;
        bottom: 0;
        width: 1px;
        height: 10px;
        background-color: var(--white-color);
        content: "";
    }
}

.profile-action {
    top: 120%;
    right: -10px;
    min-width: 120px;
}

.profile-action {
    box-shadow: 0px 0px 10px 0px #0000001a;

    &>.anchor:nth-child(odd) {
        background-color: rgb(209, 209, 209);
    }
}

.flex-auto {
    flex: auto;
}

.dashboard-body {
    height: 100vh;
}

.sidebar-nav {
    font-size: 12px;

    & .dash-nav-icon {
        width: 30px;
    }
}

.collapse-menu {
    font-size: 16px;

    & .dash-nav-icon {
        width: 25px;
    }
}

.mart-auto {
    margin-top: auto;
}

.nav-title {
    line-height: .8;
}

.collapsed {
    & span.nav-title {
        display: none;
    }

    & .collapse-menu {
        & .dash-nav-icon {
            transform: rotate(180deg);
        }
    }
}

.grid-menu-icon {
    width: 40px;
    aspect-ratio: 1/1;
    stroke: var(--white-color);
}

.grid-menu {
    background-color: var(--background-gray);
}

.grid-menu-icon-box {
    width: 30%;
    height: 100%;
}

.dashboard-menu-wrapper {
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
}

.dash-main-area {
    max-height: calc(100vh - 60px);
    ;
    overflow: auto;
}

.sidebar-box {
    max-width: 300px;
    width: 100%;

    & * {
        max-width: 100%;
    }
}

@media(max-width:768px) {
    .collapse-menu {
        & .nav-title {
            display: none;
        }
    }
}

.frontend-icon {
    width: 35px;
    aspect-ratio: 1/1;

    &.primary-color {
        stroke: var(--primary-color);
    }
}

.sidebar-list-link {
    border-bottom: 1px solid rgb(0, 0, 0, 0.1);
    transition: .25s all ease-in-out;

    &.color-primary {
        color: rgb(0, 0, 0, 0.6);
    }

    &:hover {
        background-color: rgb(0, 0, 0, 0.05);
        border-bottom-color: var(--success-color);
        color: var(--primary-color);
    }

    &::after {
        content: "";
        width: 10px;
        height: 10px;
        top: 50%;
        left: 0;
        position: absolute;
        z-index: 1;
        transform: translateY(-50%) rotate(-45deg);
        background: linear-gradient(-45deg, var(--success-color) 50%, transparent 50%);
    }
}

.sidebar-title {
    font-size: clamp(18px, 1.4vw, 25px);

    &-area {
        background-color: var(--white-color);
        background-image: url('/images/assets/background-layers.png');
        background-size: cover;
        background-position: center right;
        background-repeat: no-repeat;

        &::after {
            content: "";
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            position: absolute;
            background-image: linear-gradient(90deg, white 50%, transparent 100%);
        }

        &>* {
            z-index: 2;
            position: relative;
        }
    }
}

.border-gray {
    border: 1px solid rgba(29, 37, 56, 0.2);
}

.noticebox {
    background-image: url('/images/assets/notice-background.png');
    background-size: auto;
    background-position: top left;
    background-repeat: no-repeat;
}

.nav-section {
    overflow: hidden;

    &:hover {
        overflow: visible;
        z-index: 3;
    }
}

.administrator-img {
    width: 30%;
}

.administrator-img.full-width {
    width: 100%;
}


.notice {
    &-anchor {
        transition: .2s all ease-in-out;

        &:hover {
            background-color: rgb(0, 0, 0, 0.1);
        }
    }

    &-title {
        font-size: 18px;
    }
}

.icon-small {
    & .frontend-icon {
        width: 20px;

        & path {
            stroke-width: 2px !important;
        }
    }
}

.service {
    &-anchor {
        display: flex;

        &::after {
            content: "";
            width: 10px;
            height: 10px;
            top: 50%;
            left: 0;
            position: absolute;
            z-index: 1;
            transform: translate(-50%, -50%) rotate(-45deg);
            background: linear-gradient(-45deg, var(--secondary-color) 50%, transparent 50%);
        }

        &:hover {
            color: var(--secondary-color);
        }
    }

    &-icon {
        width: 100px;
        aspect-ratio: 1/1;
        stroke: var(--secondary-color);

        &>* {
            stroke-width: 1px !important;
        }
    }
}

@media (max-width:1024px) {
    .primary-header {
        min-height: 350px;
        height: 40vh;
    }

    .burger-trigger {
        width: 28px;
        height: 2px;
    }

    .mobile-burger.active {
        transform: rotate(90deg);

        &>.burger-trigger {
            opacity: 0;

            &:first-child {
                transform: rotate(45deg) translate(9px, 8px);
                opacity: 1;
            }

            &:last-child {
                transform: rotate(-45deg) translate(8px, -8px);
                opacity: 1;
            }
        }
    }

    .sidebar-box {
        width: 100%;
        max-width: 100%;
    }

    .mobile-nav>p {
        font-size: 18px;
    }

    .administrator-img {
        width: 100%;
    }

    .service {
        &-icon {
            width: 80px;
        }
    }
}