* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  clear: both;
}

:root {
  --primary-color: #3498db;
  --secondary-color: #2ecc71;
  --paragraph-color: #333333;
  --link-color: $primary-color;
  --button-color: $primary-color;
  --danger-color: #e74c3c;
  --alert-color: #f39c12;
  --success-color: #2ecc71;
  --warning-color: #f39c12;
  --black-color: #000000;
  --white-color: #ffffff;
}

.fs-base {
  font-size: 16px;
}
.fs-16-20 {
  font-size: clamp(16px, 1.1vw, 20px);
}
.fs-24-32 {
  font-size: clamp(24px, 1.7vw, 32px);
}
.fs-32-42 {
  font-size: clamp(32px, 2.1875vw, 42px);
}
.fs-34-55 {
  font-size: clamp(37px, 2.88vw, 55px);
}
.fs-40-60 {
  font-size: clamp(40px, 3.125vw, 60px);
}
.fs-32-80 {
  font-size: clamp(32px, 4.17vw, 80px);
}

body {
  font-size: 16px;
}

.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.containner {
  max-width: 1240px;
  width: 100%;
}

.flex {
  display: flex;
}

.row {
  flex-direction: row;
}

.column {
  flex-direction: column;
}

.flex-column-reverse {
  flex-direction: "column-reverse";
}

.flex-row-reverse {
  flex-direction: "row-reverse";
}

.wrap {
  flex-wrap: wrap;
}

.center {
  justify-content: center;
  align-items: center;
}

.jcc-ais {
  justify-content: center;
  align-items: flex-start;
}

.jcc-aie {
  justify-content: center;
  align-items: flex-end;
}

.jcc-ace {
  justify-content: center;
  align-items: center;
}

.jcc-ast {
  justify-content: center;
  align-items: stretch;
}

.jsb-ais {
  justify-content: space-between;
  align-items: flex-start;
}

.jsb-aie {
  justify-content: space-between;
  align-items: flex-end;
}

.jsb-ace {
  justify-content: space-between;
  align-items: center;
}

.jsb-ast {
  justify-content: space-between;
  align-items: stretch;
}

.jst-ais {
  justify-content: stretch;
  align-items: flex-start;
}

.jst-aie {
  justify-content: stretch;
  align-items: flex-end;
}

.jst-ace {
  justify-content: stretch;
  align-items: center;
}

.jst-ast {
  justify-content: stretch;
  align-items: stretch;
}

.jcc-ais {
  justify-content: center;
  align-items: flex-start;
}

.jcc-aie {
  justify-content: center;
  align-items: flex-end;
}

.jcc-ace {
  justify-content: center;
  align-items: center;
}

.jcc-ast {
  justify-content: center;
  align-items: stretch;
}

.jsb-ais {
  justify-content: space-between;
  align-items: flex-start;
}

.jsb-aie {
  justify-content: space-between;
  align-items: flex-end;
}

.jsb-ace {
  justify-content: space-between;
  align-items: center;
}

.jsb-ast {
  justify-content: space-between;
  align-items: stretch;
}

.jst-ais {
  justify-content: stretch;
  align-items: flex-start;
}

.jst-aie {
  justify-content: stretch;
  align-items: flex-end;
}

.jst-ace {
  justify-content: stretch;
  align-items: center;
}

.jst-ast {
  justify-content: stretch;
  align-items: stretch;
}

.grid {
  display: grid;
}

.grid-col-1 {
  grid-template-columns: repeat(1, minmax(100px, 1fr));
}

.grid-col-2 {
  grid-template-columns: repeat(2, minmax(100px, 1fr));
}

.grid-col-3 {
  grid-template-columns: repeat(3, minmax(100px, 1fr));
}

.grid-col-4 {
  grid-template-columns: repeat(4, minmax(100px, 1fr));
}

.grid-col-5 {
  grid-template-columns: repeat(5, minmax(100px, 1fr));
}

.grid-col-6 {
  grid-template-columns: repeat(6, minmax(100px, 1fr));
}

.grid-col-7 {
  grid-template-columns: repeat(7, minmax(100px, 1fr));
}

.grid-col-8 {
  grid-template-columns: repeat(8, minmax(100px, 1fr));
}

.grid-col-9 {
  grid-template-columns: repeat(9, minmax(100px, 1fr));
}

.grid-col-10 {
  grid-template-columns: repeat(10, minmax(100px, 1fr));
}

.rg-5 {
  row-gap: 5px;
}

.rg-10 {
  row-gap: 10px;
}

.rg-20 {
  row-gap: 20px;
}

.rg-30 {
  row-gap: 30px;
}

.rg-40 {
  row-gap: 40px;
}

.rg-50 {
  row-gap: 50px;
}

.rg-60 {
  row-gap: 60px;
}

.rg-70 {
  row-gap: 70px;
}

.rg-80 {
  row-gap: 80px;
}

.rg-90 {
  row-gap: 90px;
}

.rg-100 {
  row-gap: 100px;
}

.colg-5 {
  -moz-column-gap: 5px;
       column-gap: 5px;
}

.colg-10 {
  -moz-column-gap: 10px;
       column-gap: 10px;
}

.colg-20 {
  -moz-column-gap: 20px;
       column-gap: 20px;
}

.colg-30 {
  -moz-column-gap: 30px;
       column-gap: 30px;
}

.colg-40 {
  -moz-column-gap: 40px;
       column-gap: 40px;
}

.colg-50 {
  -moz-column-gap: 50px;
       column-gap: 50px;
}

.colg-60 {
  -moz-column-gap: 60px;
       column-gap: 60px;
}

.colg-70 {
  -moz-column-gap: 70px;
       column-gap: 70px;
}

.colg-80 {
  -moz-column-gap: 80px;
       column-gap: 80px;
}

.colg-90 {
  -moz-column-gap: 90px;
       column-gap: 90px;
}

.colg-100 {
  -moz-column-gap: 100px;
       column-gap: 100px;
}

.container-1120px {
  max-width: 1120px;
  width: 100%;
}

.container-1240px {
  max-width: 1240px;
  width: 100%;
}

.container-1340px {
  max-width: 1340px;
  width: 100%;
}

.container-1440px {
  max-width: 1440px;
  width: 100%;
}

.container-1540px {
  max-width: 1540px;
  width: 100%;
}

.container-1640px {
  max-width: 1640px;
  width: 100%;
}

.container-1920px {
  max-width: 1920px;
  width: 100%;
}

.padt-5 {
  padding-top: 5px;
}

.padb-5 {
  padding-bottom: 5px;
}

.padl-5 {
  padding-left: 5px;
}

.padr-5 {
  padding-right: 5px;
}

.padar-5 {
  padding: 5px;
}

.padt-10 {
  padding-top: 10px;
}

.padb-10 {
  padding-bottom: 10px;
}

.padl-10 {
  padding-left: 10px;
}

.padr-10 {
  padding-right: 10px;
}

.padar-10 {
  padding: 10px;
}

.padt-20 {
  padding-top: 20px;
}

.padb-20 {
  padding-bottom: 20px;
}

.padl-20 {
  padding-left: 20px;
}

.padr-20 {
  padding-right: 20px;
}

.padar-20 {
  padding: 20px;
}

.padt-40 {
  padding-top: 40px;
}

.padb-40 {
  padding-bottom: 40px;
}

.padl-40 {
  padding-left: 40px;
}

.padr-40 {
  padding-right: 40px;
}

.padar-40 {
  padding: 40px;
}

.padt-60 {
  padding-top: 60px;
}

.padb-60 {
  padding-bottom: 60px;
}

.padl-60 {
  padding-left: 60px;
}

.padr-60 {
  padding-right: 60px;
}

.padar-60 {
  padding: 60px;
}

.padt-80 {
  padding-top: 80px;
}

.padb-80 {
  padding-bottom: 80px;
}

.padl-80 {
  padding-left: 80px;
}

.padr-80 {
  padding-right: 80px;
}

.padar-80 {
  padding: 80px;
}

.mart-5 {
  margin-top: 5px;
}

.marb-5 {
  margin-bottom: 5px;
}

.marl-5 {
  margin-left: 5px;
}

.marr-5 {
  margin-right: 5px;
}

.marar-5 {
  margin: 5px;
}

.mart-10 {
  margin-top: 10px;
}

.marb-10 {
  margin-bottom: 10px;
}

.marl-10 {
  margin-left: 10px;
}

.marr-10 {
  margin-right: 10px;
}

.marar-10 {
  margin: 10px;
}

.mart-20 {
  margin-top: 20px;
}

.marb-20 {
  margin-bottom: 20px;
}

.marl-20 {
  margin-left: 20px;
}

.marr-20 {
  margin-right: 20px;
}

.marar-20 {
  margin: 20px;
}

.mart-40 {
  margin-top: 40px;
}

.marb-40 {
  margin-bottom: 40px;
}

.marl-40 {
  margin-left: 40px;
}

.marr-40 {
  margin-right: 40px;
}

.marar-40 {
  margin: 40px;
}

.mart-60 {
  margin-top: 60px;
}

.marb-60 {
  margin-bottom: 60px;
}

.marl-60 {
  margin-left: 60px;
}

.marr-60 {
  margin-right: 60px;
}

.marar-60 {
  margin: 60px;
}

.mart-80 {
  margin-top: 80px;
}

.marb-80 {
  margin-bottom: 80px;
}

.marl-80 {
  margin-left: 80px;
}

.marr-80 {
  margin-right: 80px;
}

.marar-80 {
  margin: 80px;
}

.color-primary {
  color: --primary-color;
}

.background-primary {
  background-color: --primary-color;
}

.color-secondary {
  color: --secondary-color;
}

.background-secondary {
  background-color: --secondary-color;
}

.color-paragraph {
  color: --paragraph-color;
}

.background-paragraph {
  background-color: --paragraph-color;
}

.color-link {
  color: --link-color;
}

.background-link {
  background-color: --link-color;
}

.color-button {
  color: --button-color;
}

.background-button {
  background-color: --button-color;
}

.color-danger {
  color: --danger-color;
}

.background-danger {
  background-color: --danger-color;
}

.color-alert {
  color: --alert-color;
}

.background-alert {
  background-color: --alert-color;
}

.color-success {
  color: --success-color;
}

.background-success {
  background-color: --success-color;
}

.color-warning {
  color: --warning-color;
}

.background-warning {
  background-color: --warning-color;
}

.color-black {
  color: --black-color;
}

.background-black {
  background-color: --black-color;
}

.color-white {
  color: --white-color;
}

.background-white {
  background-color: --white-color;
}

.text-left {
  text-align: "left";
}

.text-center {
  text-align: "center";
}

.text-right {
  text-align: "right";
}

.hidden {
  visibility: "hidden";
}

.visible {
  visibility: "visible";
}

.border-1px {
  border-width: 1px;
}

.border-top-1px {
  border-top-width: 1px;
}

.border-bottom-1px {
  border-bottom-width: 1px;
}

.border-left-1px {
  border-left-width: 1px;
}

.border-right-1px {
  border-right-width: 1px;
}

.border-2px {
  border-width: 2px;
}

.border-top-2px {
  border-top-width: 2px;
}

.border-bottom-2px {
  border-bottom-width: 2px;
}

.border-left-2px {
  border-left-width: 2px;
}

.border-right-2px {
  border-right-width: 2px;
}

.border-3px {
  border-width: 3px;
}

.border-top-3px {
  border-top-width: 3px;
}

.border-bottom-3px {
  border-bottom-width: 3px;
}

.border-left-3px {
  border-left-width: 3px;
}

.border-right-3px {
  border-right-width: 3px;
}

.border-4px {
  border-width: 4px;
}

.border-top-4px {
  border-top-width: 4px;
}

.border-bottom-4px {
  border-bottom-width: 4px;
}

.border-left-4px {
  border-left-width: 4px;
}

.border-right-4px {
  border-right-width: 4px;
}

.border-5px {
  border-width: 5px;
}

.border-top-5px {
  border-top-width: 5px;
}

.border-bottom-5px {
  border-bottom-width: 5px;
}

.border-left-5px {
  border-left-width: 5px;
}

.border-right-5px {
  border-right-width: 5px;
}

.border-6px {
  border-width: 6px;
}

.border-top-6px {
  border-top-width: 6px;
}

.border-bottom-6px {
  border-bottom-width: 6px;
}

.border-left-6px {
  border-left-width: 6px;
}

.border-right-6px {
  border-right-width: 6px;
}

.border-7px {
  border-width: 7px;
}

.border-top-7px {
  border-top-width: 7px;
}

.border-bottom-7px {
  border-bottom-width: 7px;
}

.border-left-7px {
  border-left-width: 7px;
}

.border-right-7px {
  border-right-width: 7px;
}

.border-8px {
  border-width: 8px;
}

.border-top-8px {
  border-top-width: 8px;
}

.border-bottom-8px {
  border-bottom-width: 8px;
}

.border-left-8px {
  border-left-width: 8px;
}

.border-right-8px {
  border-right-width: 8px;
}

.border-9px {
  border-width: 9px;
}

.border-top-9px {
  border-top-width: 9px;
}

.border-bottom-9px {
  border-bottom-width: 9px;
}

.border-left-9px {
  border-left-width: 9px;
}

.border-right-9px {
  border-right-width: 9px;
}

.border-10px {
  border-width: 10px;
}

.border-top-10px {
  border-top-width: 10px;
}

.border-bottom-10px {
  border-bottom-width: 10px;
}

.border-left-10px {
  border-left-width: 10px;
}

.border-right-10px {
  border-right-width: 10px;
}

.border-solid {
  border-style: "solid";
}

.border-dashed {
  border-style: "dashed";
}

.border-dotted {
  border-style: "dotted";
}

.border-color-primary {
  border-color: var(--primary-color);
}

.border-color-secondary {
  border-color: var(--secondary-color);
}

.border-color-paragraph {
  border-color: var(--paragraph-color);
}

.border-color-link {
  border-color: var(--link-color);
}

.border-color-button {
  border-color: var(--button-color);
}

.border-color-danger {
  border-color: var(--danger-color);
}

.border-color-alert {
  border-color: var(--alert-color);
}

.border-color-success {
  border-color: var(--success-color);
}

.border-color-warning {
  border-color: var(--warning-color);
}

.border-color-black {
  border-color: var(--black-color);
}

.border-color-white {
  border-color: var(--white-color);
}

.bradius-1px {
  border-radius: 1px;
}

.bradius-2px {
  border-radius: 2px;
}

.bradius-3px {
  border-radius: 3px;
}

.bradius-4px {
  border-radius: 4px;
}

.bradius-5px {
  border-radius: 5px;
}

.bradius-6px {
  border-radius: 6px;
}

.bradius-7px {
  border-radius: 7px;
}

.bradius-8px {
  border-radius: 8px;
}

.bradius-9px {
  border-radius: 9px;
}

.bradius-10px {
  border-radius: 10px;
}

.bradius-11px {
  border-radius: 11px;
}

.bradius-12px {
  border-radius: 12px;
}

.bradius-13px {
  border-radius: 13px;
}

.bradius-14px {
  border-radius: 14px;
}

.bradius-15px {
  border-radius: 15px;
}

.bradius-16px {
  border-radius: 16px;
}

.bradius-17px {
  border-radius: 17px;
}

.bradius-18px {
  border-radius: 18px;
}

.bradius-19px {
  border-radius: 19px;
}

.bradius-20px {
  border-radius: 20px;
}

.bradius-10-per {
  border-radius: 10%;
}

.bradius-20-per {
  border-radius: 20%;
}

.bradius-30-per {
  border-radius: 30%;
}

.bradius-40-per {
  border-radius: 40%;
}

.bradius-50-per {
  border-radius: 50%;
}

.bradius-60-per {
  border-radius: 60%;
}

.bradius-70-per {
  border-radius: 70%;
}

.bradius-80-per {
  border-radius: 80%;
}

.bradius-90-per {
  border-radius: 90%;
}

.bradius-100-per {
  border-radius: 100%;
}/*# sourceMappingURL=main.css.map */
