@media (max-width: 1024px) {
  :root {
    --primary-color: #000325;
    --secondary-color: #0A3981;
    --paragraph-color: #333333;
    --link-color: #ffffff;
    --button-color: #0A3981;
    --danger-color: #e74c3c;
    --alert-color: #f39c12;
    --success-color: #2ecc71;
    --warning-color: #f39c12;
    --black-color: #000000;
    --white-color: #ffffff;
  }
  .m-flex {
    display: flex;
  }
  .m-row {
    flex-direction: row;
  }
  .m-column {
    flex-direction: column;
  }
  .m-flex-column-reverse {
    flex-direction: "column-reverse";
  }
  .m-flex-row-reverse {
    flex-direction: "row-reverse";
  }
  .m-wrap {
    flex-wrap: wrap;
  }
  .m-center {
    justify-content: center;
    align-items: center;
  }
  .m-jcc-ais {
    justify-content: center;
    align-items: flex-start;
  }
  .m-jcc-aie {
    justify-content: center;
    align-items: flex-end;
  }
  .m-jcc-ace {
    justify-content: center;
    align-items: center;
  }
  .m-jcc-ast {
    justify-content: center;
    align-items: stretch;
  }
  .m-jcc-abl {
    justify-content: center;
    align-items: baseline;
  }
  .m-jcc-ano {
    justify-content: center;
    align-items: normal;
  }
  .m-jsb-ais {
    justify-content: space-between;
    align-items: flex-start;
  }
  .m-jsb-aie {
    justify-content: space-between;
    align-items: flex-end;
  }
  .m-jsb-ace {
    justify-content: space-between;
    align-items: center;
  }
  .m-jsb-ast {
    justify-content: space-between;
    align-items: stretch;
  }
  .m-jsb-abl {
    justify-content: space-between;
    align-items: baseline;
  }
  .m-jsb-ano {
    justify-content: space-between;
    align-items: normal;
  }
  .m-jsa-ais {
    justify-content: space-around;
    align-items: flex-start;
  }
  .m-jsa-aie {
    justify-content: space-around;
    align-items: flex-end;
  }
  .m-jsa-ace {
    justify-content: space-around;
    align-items: center;
  }
  .m-jsa-ast {
    justify-content: space-around;
    align-items: stretch;
  }
  .m-jsa-abl {
    justify-content: space-around;
    align-items: baseline;
  }
  .m-jsa-ano {
    justify-content: space-around;
    align-items: normal;
  }
  .m-jse-ais {
    justify-content: space-evenly;
    align-items: flex-start;
  }
  .m-jse-aie {
    justify-content: space-evenly;
    align-items: flex-end;
  }
  .m-jse-ace {
    justify-content: space-evenly;
    align-items: center;
  }
  .m-jse-ast {
    justify-content: space-evenly;
    align-items: stretch;
  }
  .m-jse-abl {
    justify-content: space-evenly;
    align-items: baseline;
  }
  .m-jse-ano {
    justify-content: space-evenly;
    align-items: normal;
  }
  .m-jfs-ais {
    justify-content: flex-start;
    align-items: flex-start;
  }
  .m-jfs-aie {
    justify-content: flex-start;
    align-items: flex-end;
  }
  .m-jfs-ace {
    justify-content: flex-start;
    align-items: center;
  }
  .m-jfs-ast {
    justify-content: flex-start;
    align-items: stretch;
  }
  .m-jfs-abl {
    justify-content: flex-start;
    align-items: baseline;
  }
  .m-jfs-ano {
    justify-content: flex-start;
    align-items: normal;
  }
  .m-jfe-ais {
    justify-content: flex-end;
    align-items: flex-start;
  }
  .m-jfe-aie {
    justify-content: flex-end;
    align-items: flex-end;
  }
  .m-jfe-ace {
    justify-content: flex-end;
    align-items: center;
  }
  .m-jfe-ast {
    justify-content: flex-end;
    align-items: stretch;
  }
  .m-jfe-abl {
    justify-content: flex-end;
    align-items: baseline;
  }
  .m-jfe-ano {
    justify-content: flex-end;
    align-items: normal;
  }
  .m-jst-ais {
    justify-content: stretch;
    align-items: flex-start;
  }
  .m-jst-aie {
    justify-content: stretch;
    align-items: flex-end;
  }
  .m-jst-ace {
    justify-content: stretch;
    align-items: center;
  }
  .m-jst-ast {
    justify-content: stretch;
    align-items: stretch;
  }
  .m-jst-abl {
    justify-content: stretch;
    align-items: baseline;
  }
  .m-jst-ano {
    justify-content: stretch;
    align-items: normal;
  }
  .m-grid {
    display: grid;
  }
  .m-grid-col-1 {
    grid-template-columns: repeat(1, minmax(100px, 1fr));
  }
  .m-grid-col-2 {
    grid-template-columns: repeat(2, minmax(100px, 1fr));
  }
  .m-grid-col-3 {
    grid-template-columns: repeat(3, minmax(100px, 1fr));
  }
  .m-grid-col-4 {
    grid-template-columns: repeat(4, minmax(100px, 1fr));
  }
  .m-grid-col-5 {
    grid-template-columns: repeat(5, minmax(100px, 1fr));
  }
  .m-grid-col-6 {
    grid-template-columns: repeat(6, minmax(100px, 1fr));
  }
  .m-grid-col-7 {
    grid-template-columns: repeat(7, minmax(100px, 1fr));
  }
  .m-grid-col-8 {
    grid-template-columns: repeat(8, minmax(100px, 1fr));
  }
  .m-grid-col-9 {
    grid-template-columns: repeat(9, minmax(100px, 1fr));
  }
  .m-grid-col-10 {
    grid-template-columns: repeat(10, minmax(100px, 1fr));
  }
  .m-gap-0 {
    gap: 0px;
  }
  .m-gap-5 {
    gap: 5px;
  }
  .m-gap-10 {
    gap: 10px;
  }
  .m-gap-20 {
    gap: 20px;
  }
  .m-gap-30 {
    gap: 30px;
  }
  .m-gap-40 {
    gap: 40px;
  }
  .m-gap-50 {
    gap: 50px;
  }
  .m-gap-60 {
    gap: 60px;
  }
  .m-gap-70 {
    gap: 70px;
  }
  .m-gap-80 {
    gap: 80px;
  }
  .m-gap-90 {
    gap: 90px;
  }
  .m-gap-100 {
    gap: 100px;
  }
  .m-rg-0 {
    row-gap: 0px;
  }
  .m-rg-5 {
    row-gap: 5px;
  }
  .m-rg-10 {
    row-gap: 10px;
  }
  .m-rg-20 {
    row-gap: 20px;
  }
  .m-rg-30 {
    row-gap: 30px;
  }
  .m-rg-40 {
    row-gap: 40px;
  }
  .m-rg-50 {
    row-gap: 50px;
  }
  .m-rg-60 {
    row-gap: 60px;
  }
  .m-rg-70 {
    row-gap: 70px;
  }
  .m-rg-80 {
    row-gap: 80px;
  }
  .m-rg-90 {
    row-gap: 90px;
  }
  .m-rg-100 {
    row-gap: 100px;
  }
  .m-colg-0 {
    -moz-column-gap: 0px;
         column-gap: 0px;
  }
  .m-colg-5 {
    -moz-column-gap: 5px;
         column-gap: 5px;
  }
  .m-colg-10 {
    -moz-column-gap: 10px;
         column-gap: 10px;
  }
  .m-colg-20 {
    -moz-column-gap: 20px;
         column-gap: 20px;
  }
  .m-colg-30 {
    -moz-column-gap: 30px;
         column-gap: 30px;
  }
  .m-colg-40 {
    -moz-column-gap: 40px;
         column-gap: 40px;
  }
  .m-colg-50 {
    -moz-column-gap: 50px;
         column-gap: 50px;
  }
  .m-colg-60 {
    -moz-column-gap: 60px;
         column-gap: 60px;
  }
  .m-colg-70 {
    -moz-column-gap: 70px;
         column-gap: 70px;
  }
  .m-colg-80 {
    -moz-column-gap: 80px;
         column-gap: 80px;
  }
  .m-colg-90 {
    -moz-column-gap: 90px;
         column-gap: 90px;
  }
  .m-colg-100 {
    -moz-column-gap: 100px;
         column-gap: 100px;
  }
  .m-full-width {
    width: 100% !important;
    max-width: 100% !important;
  }
  .m-width-max-content {
    width: -moz-max-content;
    width: max-content;
  }
  .m-full-height {
    height: 100%;
    max-height: 100%;
    min-height: 100%;
  }
  .m-padt-0 {
    padding-top: 0px;
  }
  .m-padb-0 {
    padding-bottom: 0px;
  }
  .m-padl-0 {
    padding-left: 0px;
  }
  .m-padr-0 {
    padding-right: 0px;
  }
  .m-padar-0 {
    padding: 0px;
  }
  .m-padt-5 {
    padding-top: 5px;
  }
  .m-padb-5 {
    padding-bottom: 5px;
  }
  .m-padl-5 {
    padding-left: 5px;
  }
  .m-padr-5 {
    padding-right: 5px;
  }
  .m-padar-5 {
    padding: 5px;
  }
  .m-padt-10 {
    padding-top: 10px;
  }
  .m-padb-10 {
    padding-bottom: 10px;
  }
  .m-padl-10 {
    padding-left: 10px;
  }
  .m-padr-10 {
    padding-right: 10px;
  }
  .m-padar-10 {
    padding: 10px;
  }
  .m-padt-20 {
    padding-top: 20px;
  }
  .m-padb-20 {
    padding-bottom: 20px;
  }
  .m-padl-20 {
    padding-left: 20px;
  }
  .m-padr-20 {
    padding-right: 20px;
  }
  .m-padar-20 {
    padding: 20px;
  }
  .m-padt-40 {
    padding-top: 40px;
  }
  .m-padb-40 {
    padding-bottom: 40px;
  }
  .m-padl-40 {
    padding-left: 40px;
  }
  .m-padr-40 {
    padding-right: 40px;
  }
  .m-padar-40 {
    padding: 40px;
  }
  .m-padt-50 {
    padding-top: 50px;
  }
  .m-padb-50 {
    padding-bottom: 50px;
  }
  .m-padl-50 {
    padding-left: 50px;
  }
  .m-padr-50 {
    padding-right: 50px;
  }
  .m-padar-50 {
    padding: 50px;
  }
  .m-padt-60 {
    padding-top: 60px;
  }
  .m-padb-60 {
    padding-bottom: 60px;
  }
  .m-padl-60 {
    padding-left: 60px;
  }
  .m-padr-60 {
    padding-right: 60px;
  }
  .m-padar-60 {
    padding: 60px;
  }
  .m-padt-80 {
    padding-top: 80px;
  }
  .m-padb-80 {
    padding-bottom: 80px;
  }
  .m-padl-80 {
    padding-left: 80px;
  }
  .m-padr-80 {
    padding-right: 80px;
  }
  .m-padar-80 {
    padding: 80px;
  }
  .m-mart-0 {
    margin-top: 0px;
  }
  .m-marb-0 {
    margin-bottom: 0px;
  }
  .m-marl-0 {
    margin-left: 0px;
  }
  .m-marr-0 {
    margin-right: 0px;
  }
  .m-marar-0 {
    margin: 0px;
  }
  .m-mart-5 {
    margin-top: 5px;
  }
  .m-marb-5 {
    margin-bottom: 5px;
  }
  .m-marl-5 {
    margin-left: 5px;
  }
  .m-marr-5 {
    margin-right: 5px;
  }
  .m-marar-5 {
    margin: 5px;
  }
  .m-mart-10 {
    margin-top: 10px;
  }
  .m-marb-10 {
    margin-bottom: 10px;
  }
  .m-marl-10 {
    margin-left: 10px;
  }
  .m-marr-10 {
    margin-right: 10px;
  }
  .m-marar-10 {
    margin: 10px;
  }
  .m-mart-20 {
    margin-top: 20px;
  }
  .m-marb-20 {
    margin-bottom: 20px;
  }
  .m-marl-20 {
    margin-left: 20px;
  }
  .m-marr-20 {
    margin-right: 20px;
  }
  .m-marar-20 {
    margin: 20px;
  }
  .m-mart-40 {
    margin-top: 40px;
  }
  .m-marb-40 {
    margin-bottom: 40px;
  }
  .m-marl-40 {
    margin-left: 40px;
  }
  .m-marr-40 {
    margin-right: 40px;
  }
  .m-marar-40 {
    margin: 40px;
  }
  .m-mart-60 {
    margin-top: 60px;
  }
  .m-marb-60 {
    margin-bottom: 60px;
  }
  .m-marl-60 {
    margin-left: 60px;
  }
  .m-marr-60 {
    margin-right: 60px;
  }
  .m-marar-60 {
    margin: 60px;
  }
  .m-mart-80 {
    margin-top: 80px;
  }
  .m-marb-80 {
    margin-bottom: 80px;
  }
  .m-marl-80 {
    margin-left: 80px;
  }
  .m-marr-80 {
    margin-right: 80px;
  }
  .m-marar-80 {
    margin: 80px;
  }
  .m-marauto {
    margin: auto;
  }
  .m-color-primary {
    color: var(--primary-color);
  }
  .m-background-primary {
    background-color: var(--primary-color);
  }
  .m-color-secondary {
    color: var(--secondary-color);
  }
  .m-background-secondary {
    background-color: var(--secondary-color);
  }
  .m-color-paragraph {
    color: var(--paragraph-color);
  }
  .m-background-paragraph {
    background-color: var(--paragraph-color);
  }
  .m-color-link {
    color: var(--link-color);
  }
  .m-background-link {
    background-color: var(--link-color);
  }
  .m-color-button {
    color: var(--button-color);
  }
  .m-background-button {
    background-color: var(--button-color);
  }
  .m-color-danger {
    color: var(--danger-color);
  }
  .m-background-danger {
    background-color: var(--danger-color);
  }
  .m-color-alert {
    color: var(--alert-color);
  }
  .m-background-alert {
    background-color: var(--alert-color);
  }
  .m-color-success {
    color: var(--success-color);
  }
  .m-background-success {
    background-color: var(--success-color);
  }
  .m-color-warning {
    color: var(--warning-color);
  }
  .m-background-warning {
    background-color: var(--warning-color);
  }
  .m-color-black {
    color: var(--black-color);
  }
  .m-background-black {
    background-color: var(--black-color);
  }
  .m-color-white {
    color: var(--white-color);
  }
  .m-background-white {
    background-color: var(--white-color);
  }
  .m-color-primary {
    color: var(--primary-color);
  }
  .m-background-primary {
    background-color: var(--primary-color);
  }
  .m-color-secondary {
    color: var(--secondary-color);
  }
  .m-background-secondary {
    background-color: var(--secondary-color);
  }
  .m-color-paragraph {
    color: var(--paragraph-color);
  }
  .m-background-paragraph {
    background-color: var(--paragraph-color);
  }
  .m-color-link {
    color: var(--link-color);
  }
  .m-background-link {
    background-color: var(--link-color);
  }
  .m-color-button {
    color: var(--button-color);
  }
  .m-background-button {
    background-color: var(--button-color);
  }
  .m-color-danger {
    color: var(--danger-color);
  }
  .m-background-danger {
    background-color: var(--danger-color);
  }
  .m-color-alert {
    color: var(--alert-color);
  }
  .m-background-alert {
    background-color: var(--alert-color);
  }
  .m-color-success {
    color: var(--success-color);
  }
  .m-background-success {
    background-color: var(--success-color);
  }
  .m-color-warning {
    color: var(--warning-color);
  }
  .m-background-warning {
    background-color: var(--warning-color);
  }
  .m-color-black {
    color: var(--black-color);
  }
  .m-background-black {
    background-color: var(--black-color);
  }
  .m-color-white {
    color: var(--white-color);
  }
  .m-background-white {
    background-color: var(--white-color);
  }
  .m-text-left {
    text-align: left;
  }
  .m-text-center {
    text-align: center;
  }
  .m-text-right {
    text-align: right;
  }
  .m-hidden {
    visibility: hidden;
  }
  .m-visible {
    visibility: visible;
  }
  .m-border-1px {
    border-width: 1px;
  }
  .m-border-top-1px {
    border-top-width: 1px;
  }
  .m-border-bottom-1px {
    border-bottom-width: 1px;
  }
  .m-border-left-1px {
    border-left-width: 1px;
  }
  .m-border-right-1px {
    border-right-width: 1px;
  }
  .m-border-2px {
    border-width: 2px;
  }
  .m-border-top-2px {
    border-top-width: 2px;
  }
  .m-border-bottom-2px {
    border-bottom-width: 2px;
  }
  .m-border-left-2px {
    border-left-width: 2px;
  }
  .m-border-right-2px {
    border-right-width: 2px;
  }
  .m-border-3px {
    border-width: 3px;
  }
  .m-border-top-3px {
    border-top-width: 3px;
  }
  .m-border-bottom-3px {
    border-bottom-width: 3px;
  }
  .m-border-left-3px {
    border-left-width: 3px;
  }
  .m-border-right-3px {
    border-right-width: 3px;
  }
  .m-border-4px {
    border-width: 4px;
  }
  .m-border-top-4px {
    border-top-width: 4px;
  }
  .m-border-bottom-4px {
    border-bottom-width: 4px;
  }
  .m-border-left-4px {
    border-left-width: 4px;
  }
  .m-border-right-4px {
    border-right-width: 4px;
  }
  .m-border-5px {
    border-width: 5px;
  }
  .m-border-top-5px {
    border-top-width: 5px;
  }
  .m-border-bottom-5px {
    border-bottom-width: 5px;
  }
  .m-border-left-5px {
    border-left-width: 5px;
  }
  .m-border-right-5px {
    border-right-width: 5px;
  }
  .m-border-6px {
    border-width: 6px;
  }
  .m-border-top-6px {
    border-top-width: 6px;
  }
  .m-border-bottom-6px {
    border-bottom-width: 6px;
  }
  .m-border-left-6px {
    border-left-width: 6px;
  }
  .m-border-right-6px {
    border-right-width: 6px;
  }
  .m-border-7px {
    border-width: 7px;
  }
  .m-border-top-7px {
    border-top-width: 7px;
  }
  .m-border-bottom-7px {
    border-bottom-width: 7px;
  }
  .m-border-left-7px {
    border-left-width: 7px;
  }
  .m-border-right-7px {
    border-right-width: 7px;
  }
  .m-border-8px {
    border-width: 8px;
  }
  .m-border-top-8px {
    border-top-width: 8px;
  }
  .m-border-bottom-8px {
    border-bottom-width: 8px;
  }
  .m-border-left-8px {
    border-left-width: 8px;
  }
  .m-border-right-8px {
    border-right-width: 8px;
  }
  .m-border-9px {
    border-width: 9px;
  }
  .m-border-top-9px {
    border-top-width: 9px;
  }
  .m-border-bottom-9px {
    border-bottom-width: 9px;
  }
  .m-border-left-9px {
    border-left-width: 9px;
  }
  .m-border-right-9px {
    border-right-width: 9px;
  }
  .m-border-10px {
    border-width: 10px;
  }
  .m-border-top-10px {
    border-top-width: 10px;
  }
  .m-border-bottom-10px {
    border-bottom-width: 10px;
  }
  .m-border-left-10px {
    border-left-width: 10px;
  }
  .m-border-right-10px {
    border-right-width: 10px;
  }
  .m-border-solid {
    border-style: "solid";
  }
  .m-border-dashed {
    border-style: "dashed";
  }
  .m-border-dotted {
    border-style: "dotted";
  }
  .m-border-color-primary {
    border-color: var(--primary-color);
  }
  .m-border-color-secondary {
    border-color: var(--secondary-color);
  }
  .m-border-color-paragraph {
    border-color: var(--paragraph-color);
  }
  .m-border-color-link {
    border-color: var(--link-color);
  }
  .m-border-color-button {
    border-color: var(--button-color);
  }
  .m-border-color-danger {
    border-color: var(--danger-color);
  }
  .m-border-color-alert {
    border-color: var(--alert-color);
  }
  .m-border-color-success {
    border-color: var(--success-color);
  }
  .m-border-color-warning {
    border-color: var(--warning-color);
  }
  .m-border-color-black {
    border-color: var(--black-color);
  }
  .m-border-color-white {
    border-color: var(--white-color);
  }
  .m-bradius-1px {
    border-radius: 1px;
  }
  .m-bradius-tl-1px {
    border-top-left-radius: 1px;
  }
  .m-bradius-tr-1px {
    border-top-right-radius: 1px;
  }
  .m-bradius-bl-1px {
    border-bottom-left-radius: 1px;
  }
  .m-bradius-br-1px {
    border-bottom-right-radius: 1px;
  }
  .m-bradius-2px {
    border-radius: 2px;
  }
  .m-bradius-tl-2px {
    border-top-left-radius: 2px;
  }
  .m-bradius-tr-2px {
    border-top-right-radius: 2px;
  }
  .m-bradius-bl-2px {
    border-bottom-left-radius: 2px;
  }
  .m-bradius-br-2px {
    border-bottom-right-radius: 2px;
  }
  .m-bradius-3px {
    border-radius: 3px;
  }
  .m-bradius-tl-3px {
    border-top-left-radius: 3px;
  }
  .m-bradius-tr-3px {
    border-top-right-radius: 3px;
  }
  .m-bradius-bl-3px {
    border-bottom-left-radius: 3px;
  }
  .m-bradius-br-3px {
    border-bottom-right-radius: 3px;
  }
  .m-bradius-4px {
    border-radius: 4px;
  }
  .m-bradius-tl-4px {
    border-top-left-radius: 4px;
  }
  .m-bradius-tr-4px {
    border-top-right-radius: 4px;
  }
  .m-bradius-bl-4px {
    border-bottom-left-radius: 4px;
  }
  .m-bradius-br-4px {
    border-bottom-right-radius: 4px;
  }
  .m-bradius-5px {
    border-radius: 5px;
  }
  .m-bradius-tl-5px {
    border-top-left-radius: 5px;
  }
  .m-bradius-tr-5px {
    border-top-right-radius: 5px;
  }
  .m-bradius-bl-5px {
    border-bottom-left-radius: 5px;
  }
  .m-bradius-br-5px {
    border-bottom-right-radius: 5px;
  }
  .m-bradius-6px {
    border-radius: 6px;
  }
  .m-bradius-tl-6px {
    border-top-left-radius: 6px;
  }
  .m-bradius-tr-6px {
    border-top-right-radius: 6px;
  }
  .m-bradius-bl-6px {
    border-bottom-left-radius: 6px;
  }
  .m-bradius-br-6px {
    border-bottom-right-radius: 6px;
  }
  .m-bradius-7px {
    border-radius: 7px;
  }
  .m-bradius-tl-7px {
    border-top-left-radius: 7px;
  }
  .m-bradius-tr-7px {
    border-top-right-radius: 7px;
  }
  .m-bradius-bl-7px {
    border-bottom-left-radius: 7px;
  }
  .m-bradius-br-7px {
    border-bottom-right-radius: 7px;
  }
  .m-bradius-8px {
    border-radius: 8px;
  }
  .m-bradius-tl-8px {
    border-top-left-radius: 8px;
  }
  .m-bradius-tr-8px {
    border-top-right-radius: 8px;
  }
  .m-bradius-bl-8px {
    border-bottom-left-radius: 8px;
  }
  .m-bradius-br-8px {
    border-bottom-right-radius: 8px;
  }
  .m-bradius-9px {
    border-radius: 9px;
  }
  .m-bradius-tl-9px {
    border-top-left-radius: 9px;
  }
  .m-bradius-tr-9px {
    border-top-right-radius: 9px;
  }
  .m-bradius-bl-9px {
    border-bottom-left-radius: 9px;
  }
  .m-bradius-br-9px {
    border-bottom-right-radius: 9px;
  }
  .m-bradius-10px {
    border-radius: 10px;
  }
  .m-bradius-tl-10px {
    border-top-left-radius: 10px;
  }
  .m-bradius-tr-10px {
    border-top-right-radius: 10px;
  }
  .m-bradius-bl-10px {
    border-bottom-left-radius: 10px;
  }
  .m-bradius-br-10px {
    border-bottom-right-radius: 10px;
  }
  .m-bradius-11px {
    border-radius: 11px;
  }
  .m-bradius-tl-11px {
    border-top-left-radius: 11px;
  }
  .m-bradius-tr-11px {
    border-top-right-radius: 11px;
  }
  .m-bradius-bl-11px {
    border-bottom-left-radius: 11px;
  }
  .m-bradius-br-11px {
    border-bottom-right-radius: 11px;
  }
  .m-bradius-12px {
    border-radius: 12px;
  }
  .m-bradius-tl-12px {
    border-top-left-radius: 12px;
  }
  .m-bradius-tr-12px {
    border-top-right-radius: 12px;
  }
  .m-bradius-bl-12px {
    border-bottom-left-radius: 12px;
  }
  .m-bradius-br-12px {
    border-bottom-right-radius: 12px;
  }
  .m-bradius-13px {
    border-radius: 13px;
  }
  .m-bradius-tl-13px {
    border-top-left-radius: 13px;
  }
  .m-bradius-tr-13px {
    border-top-right-radius: 13px;
  }
  .m-bradius-bl-13px {
    border-bottom-left-radius: 13px;
  }
  .m-bradius-br-13px {
    border-bottom-right-radius: 13px;
  }
  .m-bradius-14px {
    border-radius: 14px;
  }
  .m-bradius-tl-14px {
    border-top-left-radius: 14px;
  }
  .m-bradius-tr-14px {
    border-top-right-radius: 14px;
  }
  .m-bradius-bl-14px {
    border-bottom-left-radius: 14px;
  }
  .m-bradius-br-14px {
    border-bottom-right-radius: 14px;
  }
  .m-bradius-15px {
    border-radius: 15px;
  }
  .m-bradius-tl-15px {
    border-top-left-radius: 15px;
  }
  .m-bradius-tr-15px {
    border-top-right-radius: 15px;
  }
  .m-bradius-bl-15px {
    border-bottom-left-radius: 15px;
  }
  .m-bradius-br-15px {
    border-bottom-right-radius: 15px;
  }
  .m-bradius-16px {
    border-radius: 16px;
  }
  .m-bradius-tl-16px {
    border-top-left-radius: 16px;
  }
  .m-bradius-tr-16px {
    border-top-right-radius: 16px;
  }
  .m-bradius-bl-16px {
    border-bottom-left-radius: 16px;
  }
  .m-bradius-br-16px {
    border-bottom-right-radius: 16px;
  }
  .m-bradius-17px {
    border-radius: 17px;
  }
  .m-bradius-tl-17px {
    border-top-left-radius: 17px;
  }
  .m-bradius-tr-17px {
    border-top-right-radius: 17px;
  }
  .m-bradius-bl-17px {
    border-bottom-left-radius: 17px;
  }
  .m-bradius-br-17px {
    border-bottom-right-radius: 17px;
  }
  .m-bradius-18px {
    border-radius: 18px;
  }
  .m-bradius-tl-18px {
    border-top-left-radius: 18px;
  }
  .m-bradius-tr-18px {
    border-top-right-radius: 18px;
  }
  .m-bradius-bl-18px {
    border-bottom-left-radius: 18px;
  }
  .m-bradius-br-18px {
    border-bottom-right-radius: 18px;
  }
  .m-bradius-19px {
    border-radius: 19px;
  }
  .m-bradius-tl-19px {
    border-top-left-radius: 19px;
  }
  .m-bradius-tr-19px {
    border-top-right-radius: 19px;
  }
  .m-bradius-bl-19px {
    border-bottom-left-radius: 19px;
  }
  .m-bradius-br-19px {
    border-bottom-right-radius: 19px;
  }
  .m-bradius-20px {
    border-radius: 20px;
  }
  .m-bradius-tl-20px {
    border-top-left-radius: 20px;
  }
  .m-bradius-tr-20px {
    border-top-right-radius: 20px;
  }
  .m-bradius-bl-20px {
    border-bottom-left-radius: 20px;
  }
  .m-bradius-br-20px {
    border-bottom-right-radius: 20px;
  }
  .m-bradius-10-per {
    border-radius: 10%;
  }
  .m-bradius-tl-10-per {
    border-top-left-radius: 10%;
  }
  .m-bradius-tr-10-per {
    border-top-right-radius: 10%;
  }
  .m-bradius-bl-10-per {
    border-bottom-left-radius: 10%;
  }
  .m-bradius-br-10-per {
    border-bottom-right-radius: 10%;
  }
  .m-bradius-20-per {
    border-radius: 20%;
  }
  .m-bradius-tl-20-per {
    border-top-left-radius: 20%;
  }
  .m-bradius-tr-20-per {
    border-top-right-radius: 20%;
  }
  .m-bradius-bl-20-per {
    border-bottom-left-radius: 20%;
  }
  .m-bradius-br-20-per {
    border-bottom-right-radius: 20%;
  }
  .m-bradius-30-per {
    border-radius: 30%;
  }
  .m-bradius-tl-30-per {
    border-top-left-radius: 30%;
  }
  .m-bradius-tr-30-per {
    border-top-right-radius: 30%;
  }
  .m-bradius-bl-30-per {
    border-bottom-left-radius: 30%;
  }
  .m-bradius-br-30-per {
    border-bottom-right-radius: 30%;
  }
  .m-bradius-40-per {
    border-radius: 40%;
  }
  .m-bradius-tl-40-per {
    border-top-left-radius: 40%;
  }
  .m-bradius-tr-40-per {
    border-top-right-radius: 40%;
  }
  .m-bradius-bl-40-per {
    border-bottom-left-radius: 40%;
  }
  .m-bradius-br-40-per {
    border-bottom-right-radius: 40%;
  }
  .m-bradius-50-per {
    border-radius: 50%;
  }
  .m-bradius-tl-50-per {
    border-top-left-radius: 50%;
  }
  .m-bradius-tr-50-per {
    border-top-right-radius: 50%;
  }
  .m-bradius-bl-50-per {
    border-bottom-left-radius: 50%;
  }
  .m-bradius-br-50-per {
    border-bottom-right-radius: 50%;
  }
  .m-bradius-60-per {
    border-radius: 60%;
  }
  .m-bradius-tl-60-per {
    border-top-left-radius: 60%;
  }
  .m-bradius-tr-60-per {
    border-top-right-radius: 60%;
  }
  .m-bradius-bl-60-per {
    border-bottom-left-radius: 60%;
  }
  .m-bradius-br-60-per {
    border-bottom-right-radius: 60%;
  }
  .m-bradius-70-per {
    border-radius: 70%;
  }
  .m-bradius-tl-70-per {
    border-top-left-radius: 70%;
  }
  .m-bradius-tr-70-per {
    border-top-right-radius: 70%;
  }
  .m-bradius-bl-70-per {
    border-bottom-left-radius: 70%;
  }
  .m-bradius-br-70-per {
    border-bottom-right-radius: 70%;
  }
  .m-bradius-80-per {
    border-radius: 80%;
  }
  .m-bradius-tl-80-per {
    border-top-left-radius: 80%;
  }
  .m-bradius-tr-80-per {
    border-top-right-radius: 80%;
  }
  .m-bradius-bl-80-per {
    border-bottom-left-radius: 80%;
  }
  .m-bradius-br-80-per {
    border-bottom-right-radius: 80%;
  }
  .m-bradius-90-per {
    border-radius: 90%;
  }
  .m-bradius-tl-90-per {
    border-top-left-radius: 90%;
  }
  .m-bradius-tr-90-per {
    border-top-right-radius: 90%;
  }
  .m-bradius-bl-90-per {
    border-bottom-left-radius: 90%;
  }
  .m-bradius-br-90-per {
    border-bottom-right-radius: 90%;
  }
  .m-bradius-100-per {
    border-radius: 100%;
  }
  .m-bradius-tl-100-per {
    border-top-left-radius: 100%;
  }
  .m-bradius-tr-100-per {
    border-top-right-radius: 100%;
  }
  .m-bradius-bl-100-per {
    border-bottom-left-radius: 100%;
  }
  .m-bradius-br-100-per {
    border-bottom-right-radius: 100%;
  }
  .m-position-absolute {
    position: absolute;
  }
  .m-position-relative {
    position: relative;
  }
  .m-position-fixed {
    position: fixed;
  }
  .m-position-sticky {
    position: sticky;
  }
  .m-position-static {
    position: static;
  }
  .m-top-0 {
    top: 0px;
  }
  .m-bottom-0 {
    bottom: 0px;
  }
  .m-left-0 {
    left: 0px;
  }
  .m-right-0 {
    right: 0px;
  }
  .m-top-5 {
    top: 5px;
  }
  .m-bottom-5 {
    bottom: 5px;
  }
  .m-left-5 {
    left: 5px;
  }
  .m-right-5 {
    right: 5px;
  }
  .m-top-10 {
    top: 10px;
  }
  .m-bottom-10 {
    bottom: 10px;
  }
  .m-left-10 {
    left: 10px;
  }
  .m-right-10 {
    right: 10px;
  }
  .m-top-20 {
    top: 20px;
  }
  .m-bottom-20 {
    bottom: 20px;
  }
  .m-left-20 {
    left: 20px;
  }
  .m-right-20 {
    right: 20px;
  }
  .m-top-30 {
    top: 30px;
  }
  .m-bottom-30 {
    bottom: 30px;
  }
  .m-left-30 {
    left: 30px;
  }
  .m-right-30 {
    right: 30px;
  }
  .m-top-40 {
    top: 40px;
  }
  .m-bottom-40 {
    bottom: 40px;
  }
  .m-left-40 {
    left: 40px;
  }
  .m-right-40 {
    right: 40px;
  }
  .m-top-50 {
    top: 50px;
  }
  .m-bottom-50 {
    bottom: 50px;
  }
  .m-left-50 {
    left: 50px;
  }
  .m-right-50 {
    right: 50px;
  }
  .m-top-60 {
    top: 60px;
  }
  .m-bottom-60 {
    bottom: 60px;
  }
  .m-left-60 {
    left: 60px;
  }
  .m-right-60 {
    right: 60px;
  }
  .m-top-70 {
    top: 70px;
  }
  .m-bottom-70 {
    bottom: 70px;
  }
  .m-left-70 {
    left: 70px;
  }
  .m-right-70 {
    right: 70px;
  }
  .m-top-80 {
    top: 80px;
  }
  .m-bottom-80 {
    bottom: 80px;
  }
  .m-left-80 {
    left: 80px;
  }
  .m-right-80 {
    right: 80px;
  }
  .m-top-90 {
    top: 90px;
  }
  .m-bottom-90 {
    bottom: 90px;
  }
  .m-left-90 {
    left: 90px;
  }
  .m-right-90 {
    right: 90px;
  }
  .m-top-100 {
    top: 100px;
  }
  .m-bottom-100 {
    bottom: 100px;
  }
  .m-left-100 {
    left: 100px;
  }
  .m-right-100 {
    right: 100px;
  }
  .m-opacity0 {
    opacity: 0;
  }
  .m-opacity0-05 {
    opacity: 0.05;
  }
  .m-opacity0-1 {
    opacity: 0.1;
  }
  .m-opacity0-15 {
    opacity: 0.15;
  }
  .m-opacity0-2 {
    opacity: 0.2;
  }
  .m-opacity0-25 {
    opacity: 0.25;
  }
  .m-opacity0-3 {
    opacity: 0.3;
  }
  .m-opacity0-35 {
    opacity: 0.35;
  }
  .m-opacity0-4 {
    opacity: 0.4;
  }
  .m-opacity0-45 {
    opacity: 0.45;
  }
  .m-opacity0-5 {
    opacity: 0.5;
  }
  .m-opacity0-55 {
    opacity: 0.55;
  }
  .m-opacity0-6 {
    opacity: 0.6;
  }
  .m-opacity0-65 {
    opacity: 0.65;
  }
  .m-opacity0-7 {
    opacity: 0.7;
  }
  .m-opacity0-75 {
    opacity: 0.75;
  }
  .m-opacity0-8 {
    opacity: 0.8;
  }
  .m-opacity0-85 {
    opacity: 0.85;
  }
  .m-opacity0-9 {
    opacity: 0.9;
  }
  .m-opacity0-95 {
    opacity: 0.95;
  }
  .m-opacity1 {
    opacity: 1;
  }
  .m-transition-ease {
    transition-timing-function: ease;
  }
  .m-transition-ease-in {
    transition-timing-function: ease-in;
  }
  .m-transition-ease-out {
    transition-timing-function: ease-out;
  }
  .m-transition-ease-in-out {
    transition-timing-function: ease-in-out;
  }
  .m-transition-linear {
    transition-timing-function: linear;
  }
  .m-transition-step-start {
    transition-timing-function: step-start;
  }
  .m-transition-step-end {
    transition-timing-function: step-end;
  }
  .m-transition-cubic-bezier-0-25--0-1--0-25--1 {
    transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
  }
  .m-transition-duration-0-1s {
    transition-duration: 0.1s;
  }
  .m-transition-duration-0-2s {
    transition-duration: 0.2s;
  }
  .m-transition-duration-0-25s {
    transition-duration: 0.25s;
  }
  .m-transition-duration-0-3s {
    transition-duration: 0.3s;
  }
  .m-transition-duration-0-4s {
    transition-duration: 0.4s;
  }
  .m-transition-duration-0-5s {
    transition-duration: 0.5s;
  }
  .m-transition-duration-0-6s {
    transition-duration: 0.6s;
  }
  .m-transition-duration-0-7s {
    transition-duration: 0.7s;
  }
  .m-transition-duration-0-8s {
    transition-duration: 0.8s;
  }
  .m-transition-duration-0-9s {
    transition-duration: 0.9s;
  }
  .m-transition-duration-1s {
    transition-duration: 1s;
  }
  .m-transition-duration-2s {
    transition-duration: 2s;
  }
  .m-transition-duration-3s {
    transition-duration: 3s;
  }
  .m-transition-duration-4s {
    transition-duration: 4s;
  }
  .m-transition-duration-5s {
    transition-duration: 5s;
  }
  .m-z-index-1 {
    z-index: 1;
  }
  .m-z-index-2 {
    z-index: 2;
  }
  .m-z-index-3 {
    z-index: 3;
  }
  .m-z-index-4 {
    z-index: 4;
  }
  .m-z-index-5 {
    z-index: 5;
  }
  .m-z-index-6 {
    z-index: 6;
  }
  .m-z-index-7 {
    z-index: 7;
  }
  .m-z-index-8 {
    z-index: 8;
  }
  .m-z-index-9 {
    z-index: 9;
  }
  .m-z-index-10 {
    z-index: 10;
  }
  .m-transition-property-all {
    transition-property: all;
  }
  .m-transition-property-color {
    transition-property: color;
  }
  .m-transition-property-background {
    transition-property: background;
  }
  .m-transition-property-transform {
    transition-property: transform;
  }
  .m-transition-property-opacity {
    transition-property: opacity;
  }
  .m-transition-property-width {
    transition-property: width;
  }
  .m-transition-property-height {
    transition-property: height;
  }
  .m-transition-property-top {
    transition-property: top;
  }
  .m-transition-property-left {
    transition-property: left;
  }
  .m-transition-property-right {
    transition-property: right;
  }
  .m-transition-property-bottom {
    transition-property: bottom;
  }
  .m-transition-property-margin {
    transition-property: margin;
  }
  .m-transition-property-padding {
    transition-property: padding;
  }
  .m-transition-property-border {
    transition-property: border;
  }
  .m-transition-property-box-shadow {
    transition-property: box-shadow;
  }
  .m-transition-property-font-size {
    transition-property: font-size;
  }
  .m-transition-property-visibility {
    transition-property: visibility;
  }
  .m-transition-property-z-index {
    transition-property: z-index;
  }
  .m-display-none {
    display: none;
  }
}/*# sourceMappingURL=mobile-main.css.map */